body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #376337;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #ebece3;
	font-size: large;
	background: #333;
	padding: 7px;
	border-radius: 5px;
}

main {
	padding: 20px;
	background-color: #b8cab8;
}

.welcome {
	text-align: center;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

.filter-label {
	margin-right: 10px;
}

.filters {
	background-color: #ebece3;
	width: auto;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid #a8a8a6;
}

.recipe-container {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.recipe {
	border: 2px solid #a8a8a6;
	border-radius: 5px;
	padding: 10px;
	background-color: #ebece3;
}
.recipe h3 {
	margin-top: 0;
	color: #333;

	border-radius: 5px;
	width: auto;
}

.recipe p {
	margin-bottom: 0;
	color: #444;
}

@media (max-width: 768px) {
	.recipe-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.recipe-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

/*
 colors: #376337,#b8cab8,#ebece3,#a8a8a6,#444,#333
*/
